node_modules/
.cache/
dist
build
.env

**/styled-system/

apps/server/uploads/*
!uploads/.gitkeep

*.crt
*.key

# Local Netlify folder
.netlify



.nx/cache
.nx/workspace-data
.nx/polygraph
vitest.config.*.timestamp*
vite.config.*.timestamp*